# Database
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.cdfxcpultpctmvwlnloc
DB_PASSWORD=JBZXmQWFAW28m2Rs
DB_NAME=postgres
 
# App
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=7d

# Email - Resend
RESEND_API_KEY=re_XJ64dq8E_Le7MZh5ztnzhxRNMu2nHXqNW

# Frontend URL
FRONTEND_URL=http://localhost:3000


# Cloudinary
CLOUDINARY_CLOUD_NAME=ddh27tt1l
CLOUDINARY_API_KEY=373586129635738
CLOUDINARY_API_SECRET=lW5IMjiAV5DMt1g31N8Pmvek2Co

ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=Password123!
